[Desktop Entry]
Type=Application
Name=ANSI Viewer
Comment=View text and ANSI files
Exec=ansiviewer %f
Terminal=true
Categories=Utility;Viewer;
MimeType=text/plain;text/x-ansi;
